article{
     margin: 20px;
    flex: 70%;
}
.box1{
    box-shadow: 0px 0px 14px;
    padding: 20px;
    border-radius: 50px;
}
.h1w{
  text-align: center;
  margin-bottom: 20px;
}
.titulow{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.textow{
    margin-top: 10px;
}
.textow2{
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    color: var(--letras);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5px;
}
.current{
    margin-left: 3px;
    background-color: rgb(9, 85, 59);
    border-radius: 20px;
    color: aliceblue;
    text-align: center;
    overflow: hidden;
    width: 80px;
}
.negrito{
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box2{
    margin-top: 20px;
    box-shadow: 0px 0px 14px;
    padding: 20px;
    border-radius: 50px;
}