footer{
    height: 200px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    box-shadow: 4px 0px 20px black;
}
h3{
    text-align: center;
    margin: 20px;
}
.redesocial{
    text-align: center;
    gap: 10px;
}
.direitos{
    text-align: center;
}