*{
    margin: 0;
    padding: 0;
}

:root{
    --fundo: #ffffff ;
    --letras: #1f2a1e;
    --barra:#21ba10;
}
main{
    background-color: #000000;
    
}
.principal{
    background-color: var(--fundo);
    display: flex;
    margin: auto;
}
@media(max-width:600px){
    .principal{
        flex-direction: column;
        overflow: hidden;
    }
}
